<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Podziękowania za Zakup</title>
    <style>

        body {
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        header {
            background-color: #333;
            color: white;
            padding: 1em;
            text-align: center;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .main {
            margin: 0;
        }

        footer {
            background-color: #333;
            color: white;
            text-align: center;
            padding: 1em;
            position: fixed;
            bottom: 0;
            width: 100%;
        }

        .thanks {
            text-align: center;
            padding: 2em;
        }

        h2{
            font-size: 40px;
        }

        p,a{
            font-size: 30px;
        }

    </style>
</head>
<body>
    <header>
        <h1 class="main">Wypożyczalnia Samochodów</h1>
    </header>

    <div class="thanks">
        <h2>Dziękujemy za zakup!</h2>
        <p>Łączny koszt: <span id="totalCost"> <%= price %></span> PLN</p>
        <a href="/">Strona Główna</a>
    </div>

    <footer>
        &copy; 2024 Wypożyczalnia Samochodów
    </footer>
</body>
</html>
